body {
    margin: 0;
}

.partOne {
    height: 100vh;
    background-image: url("../images/image1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner1 {
    background-color: black;
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.inner1 h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: normal;
}

.sectionOne {
    text-align: center;
    padding: 40px 100px;
    background-color: lightgray;
}

.sectionOne h2 {
    text-transform: capitalize;
}

    /* PART 2 */

.imageOne {
    font-size: 0;
    background-image: url(../images/image2.jpg);
    background-attachment: fixed;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner2 h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: normal;
}

.imageTwo {
    font-size: 0;
    background-image: url(../images/image3.jpg);
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionThree {
    text-align: center;
    color: white;
    padding: 40px 100px;
    background-color: black;
}